@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .speech-bubble-user {
    position: relative;
    background: #fae100;
    border-radius: 0.4em;
    padding: 0.3rem 1rem;
    margin-left: auto;
  }
  .speech-bubble-user:after {
    content: "";
    position: absolute;
    right: 0;
    top: 1.3rem;
    width: 0;
    height: 0;
    border: 1em solid transparent;
    border-left-color: #fae100;
    border-right: 0;
    border-top: 0;
    margin-top: -0.8em;
    margin-right: -1em;
  }

  .speech-bubble-ai {
    position: relative;
    background: white;
    border-radius: 0.4em;
    padding: 0.3rem 1rem;
    margin-right: 0.5rem;
    margin-left: 1.3em;
    margin-top: 0.7rem;
  }
  .speech-bubble-ai:before {
    content: "";
    position: absolute;
    left: 0;
    top: 2rem;
    width: 0;
    height: 0;
    border: 1.2em solid transparent;
    border-right-color: white;
    border-left: 0;
    border-top: 0;
    margin-top: -1.7em;
    margin-left: -1.1em;
  }
}
